{% extends "base.html" %}
{% block content %}
  	<div class="card border-0 shadow my-5">
	    <div class="card-body p-5">
	      <h1 class="font-weight-light">Simple Django Map Position</h1>
	      <p class="lead">This project build for assignment to Kartoza. This project is build with :</p>
	      <ul class="lead">
	      	<li>Django Project</li>
	      	<li>Use bootstrap starter template</li>
	      	<ul></ul>
	      </ul>
	      <div style="height: 400px"></div>
	      <p class="lead mb-0">You've reached the end!</p>
	    </div>
  	</div>
{% endblock content %}